@import url("https://fonts.googleapis.com/css2?family=Chewy&family=DM+Serif+Text:ital@0;1&family=Fascinate&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Raleway:ital,wght@0,602;1,602&family=Varela+Round&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: DM Serif Text, serif;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
